@page "/products"
<div class="container my-5">
    <AddProduct />
</div>
<div class="container">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        @foreach (var product in products)
        {
            <div class="col">
                <div class="card shadow">
                    <img src="@product.ImageUrl" class="card-img-top" alt="@product.Name">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">@product.Description</p>
                        <p class="card-text">@product.Price</p>
                        <p class="card-text">@product.Category</p>
                        <p class="card-text">@product.Vendor</p>
                        <button class="btn btn-success px-5">KÖP</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@code {
    private List<Product> products;

    protected override async Task OnInitializedAsync()
    {
        products = new();
        products = await Http.GetFromJsonAsync<List<Product>>("api/products");
    }
}
